extends layout

block content
  nav.nav
    a(href="/", target="_self") Home Page
  div.my
    div.social-links
      a(href="http://edmondwang.github.io", target="_blank") github page
  script(src="/myProfilePage.bundle.js" defer)