@font-face {
    font-family: "MyOpenSanFont";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}

body {
    font: 14px "MyOpenSanFont", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.my {

    .social-links {
        padding: 10px;
    }

}